/**********
Universal Styles
**********/
body {
  padding-top: 50px;
}

/**********
Next Event
**********/
#nextEvent {
  background: yellow;
  padding: 20px 0;
}

/**********
Contact Form
**********/
textarea {
  resize: none;
}

/**********
Footer
**********/
#footer {
  background: green;
  padding: 20px 0;
  text-align: center;
}
